# deps
node_modules/
bun.lockb

# build
.next/
tsconfig.tsbuildinfo

# env — never commit real secrets
.env.local
.env.production.local
.env*.local

# db
db/*.db

# logs
dev.log
server.log

# misc
.DS_Store

# ROMs — copyrighted, never commit
ROMS/**/*.nes
ROMS/**/*.sfc
ROMS/**/*.smc
ROMS/**/*.gb
ROMS/**/*.gbc
ROMS/**/*.gba
ROMS/**/*.md
ROMS/**/*.gen
ROMS/**/*.smd
ROMS/**/*.sms
ROMS/**/*.sg
ROMS/**/*.txt
